language: ruby
before_install:
  - gem install bundler
  - 'echo "gem: --no-ri --no-rdoc" > ~/.gemrc'
  - bundle --version
  - gem --version
bundler_args: --without development

rvm:
  - 2.2.9
  - 2.3.6
  - 2.4.3

matrix:
  allow_failures:
    - rvm: rbx                  # rbx is still troublesome.
  include:
    - rvm: rbx
      gemfile: gemfiles/Gemfile.rbx
  #   - rvm: 2.4.3         #
  #     env: COVERAGE=true #
  exclude:
    - rvm: rbx
      gemfile: Gemfile

# blacklist
branches:
  except:
    - develop
    - rt-site
    - gh-pages
